include layout.pug
style.
    .card{
        width:18em;
        color:#cc0000;
        font-weight:bold
    }

script(src="/js/ShoppingScript_JQ.js")
body
    include header.pug

    main
        .row
            each item in data
                .col
                    .card
                        .row
                            .col.col-5
                                .card-head
                                    .row
                                        img(src=`/images/${item.category}/${item.commodity_name}.svg` width="100px")
                                    .row
                                        button.sellme.btn.btn-primary.btn-block sell me
                            .col
                                .card-body
                                    p.text-info.card-title=item.commodity_name
                                    p.text-info.priceCard.card-title=item.price+`$`
                                    p.text-info.card-title=item.category
                                    p.text-info.card-title=` seller : `+ item.seller

