include layout.pug
script(src="/js/TodoScript.js")
body
    include ./header.pug
    .container.mb-5.mt-5
        .input-group(id="form")
            input.form-control(id="Task")
            button.btn.btn-danger(id="submit") Submit Task

    main.container

        h2.mb-3 count : #{count}

        table.table.table-striped.table-bordered
            thead
                tr
                    th(width=5) isDone
                    th todo
                    th date
                    th time
                    th update
                    th remove
            
            tbody
                - 
                each item in allTasks 
                    tr  
                        td(width=5)
                            input(type="checkbox" ,checked = item.isDone , value=item._id)
                        td(class=item.isDone == true ? 'text-secondary done' : '' ) #{item.todo}
                        td(class=item.isDone == true ? 'text-secondary done' : '' ) #{item.date}
                        td(class=item.isDone == true ? 'text-secondary done' : '' ) #{item.time}
                        td(class="edit")
                            img.logo(src='/images/edit.svg')
                        td(class="trash")
                            img.logo(src="/images/trash.svg")


    include ./footer.pug

        